.collection-board{
	position:relative;
    width: 300px;
    height: 320px;
    overflow: hidden;

    border-radius: 10px;
    background-color: white;
}
.collection-size{
    max-height:100%;
	position:absolute;
	left:0;
	right:0;
	top:0;
    bottom:0;
    display: block;
}

.content-board{
	position:relative;
    width: 1088px;
    height: 1000px;
    overflow: hidden;

    border-radius: 10px;
    background-color: white;
}
.content-size{
    max-height:100%;
	position:absolute;
	left:0;
	right:0;
	top:0;
    bottom:0;
    display: block;
}


.image-box{
	position:relative;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    overflow: auto;
    margin: auto;
    border-radius: 5px;
    background-color: white;
}
.image-selection{
    max-width:100%;
    max-height:100%;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
    margin: auto;   
}

body{
    background-color: #f4f4f4;
}


.like-button{
    padding: 0;
    border: none;
    background: none;
    font-size:16px;
    display: center;
}

#form-id{
    display: grid;
}

#liked{
    color: blue;
}

#like{
    color: black;
}

#like-status{
    color: darkblue;
}

#comment{
    display: none;
}

#comment-button{
    padding: 0;
    border: none;
    background: none;
    color: black;
    font-size:16px
}

.time{
    font-size:10px
}
.line{
    border: 2px soft black;
}
.post{
    border: 1px solid black;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 10px;
}

#profile{
    text-align: center;
}

.content{
    padding: 10px;
}

.description{
    font-size: 30px;
}

#share-btn{
    margin-bottom: 5px;
}
.login{
    border: 1px solid black;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    width: 500px;
    padding: 10px;
}