<%- include('../partials/header'); -%>
<div class="box">
    <H1><%= pageTitle %></H1>
    <div>

        <% product.forEach(item=>{%>
        <h3><%= item %></h3>
        <%}) %>

    </div>
</div>


<%- include('../partials/footer'); -%>